@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  position: relative;
  background-color: #f8f8fb;
  scroll-behavior: smooth;
}
body.dark {
  @apply bg-darkblue-500;
}

.status {
  @apply w-32 rounded-md px-5 py-2 text-center font-bold capitalize before:mr-1 before:mt-[-0.2rem] before:inline-block before:h-[0.4rem] before:w-[0.4rem] before:rounded-lg before:font-extrabold before:content-[''];
}
.pending-status {
  @apply bg-orange bg-opacity-10 text-orange before:bg-orange;
}
.draft-status {
  @apply bg-darkblue-600 bg-opacity-10 text-darkblue-600 before:bg-darkblue-600 dark:bg-darkblue-200 dark:text-white-200 dark:before:bg-white-200;
}
.paid-status {
  @apply bg-green bg-opacity-10 text-green before:bg-green;
}
::-webkit-scrollbar {
  @apply hidden;
}
.gridDisplay {
  @apply grid justify-between;
  grid-template-columns: repeat(3, 11rem);
  gap: 5px;
}

.errorDiv {
  @apply inline-flex items-center justify-between pt-6 text-sm;
}

.list {
  @apply w-16 overflow-scroll text-left;
}
.label {
  @apply text-sm font-semibold text-grey-500 dark:text-grey-200;
}
.input {
  @apply rounded-sm border-2 border-darkblue-100 bg-darkblue-100 bg-opacity-35 p-3 font-bold caret-lightblue-300 autofillClass focus:border-lightblue-300 focus:outline-none dark:border-darkblue-400 dark:bg-darkblue-400 dark:text-white-100;
}

.errorBorder {
  @apply border-red-200 focus:outline-none;
}
.errorText {
  @apply text-red-200;
}
.react-datepicker__input-container input {
  @apply w-full cursor-pointer border-none bg-darkblue-100 bg-opacity-5 outline-none focus:outline-none dark:bg-darkblue-400;
}
.react-datepicker-popper {
  @apply bg-white-100 dark:bg-darkblue-300;
}
.react-datepicker-popper[style] {
  /* transform: translate(140.5px, 450px) !important; */
}
.react-datepicker__header {
  @apply border-b-0 bg-white-100 p-4 pt-6 dark:bg-darkblue-300;
}
.react-datepicker__navigation-icon::before {
  @apply border-lightblue-300;
}
.react-datepicker.wrapper {
  @apply w-full border-0 shadow-3xl outline-none dark:bg-darkblue-300 dark:shadow-none;
}
.react-datepicker__month-container {
  @apply float-none;
}
.react-datepicker__day,
.react-datepicker__current-month {
  @apply dark:text-white-100;
}
.react-datepicker__day--keyboard-selected {
  @apply bg-lightblue-100 dark:bg-darkblue-400;
}
.react-datepicker__navigation {
  @apply p-4 pt-6;
}
.react-datepicker__day-name,
.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  @apply hidden;
}

.react-datepicker__day--selected {
  @apply bg-transparent text-lightblue-300;
}
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover,
.react-datepicker__day:hover {
  @apply bg-transparent;
}
.react-datepicker__day--outside-month {
  @apply text-grey-300;
}

/* LOADER ANIMATION */
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
.spinner {
  @apply mx-auto aspect-square animate-spin rounded-full;

  background:
    radial-gradient(farthest-side, #373b53 94%, transparent) top/10px 10px
      no-repeat,
    conic-gradient(transparent 30%, #373b53);
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 10px),
    black 0
  );
  mask: radial-gradient(farthest-side, transparent calc(100% - 5px), black 0);
}
